body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
section{
    padding: 50px 0px
}
.banner{
    background: linear-gradient(rgba(255, 140, 9, 0.5), rgba(255, 9, 9, 0.5)), url(images/top-banner.png) no-repeat ;;
}
.container-flexibility{
    display: flex;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
.half-width{
 padding: 0 6%;
 width: 50%;
}
.half-width img{
    margin: 0 auto;
    display: block;
}
.color{
    color: #34A3F1;
}
p{
    font-size: 19px;
    font-family:'Poppins', sans-serif;;
}
.btn{
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(#34A3F1, #000);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.dream{
    background:linear-gradient(rgb(0, 0, 255,0.8),rgb(255, 63, 139,0.5)),url(images/dream-bg.png) no-repeat right;
}
.dream .half-width h1, p, h3{
    color: white;
}
.experience{
    background:linear-gradient(rgba(63, 233, 255, 0.5),rgb(0, 0, 255,0.8)),url(images/exp-bg.png) no-repeat left;
}
.full{
    border-left: 10px solid;
    border-image: linear-gradient(#FF9684,red);
    border-image-slice: 1;
}
.baby{
    border-left: 10px solid;
    border-image: linear-gradient(#FF3585,yellow);
    border-image-slice: 1;
}
.developer{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    box-shadow: 5px 5px 20px white;
}
footer p{
   color: black;
   text-align: center;
}
footer{
    background-color: #FF9084;
    display: flow-root;
}